---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About birkbyfamily.com"
	description="Blog and website of the Birkby family."
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Nothing to see here
	</p>


</Layout>
